h1 {
   background-color: yellow;
   color: black;
}
sidebar {
         background-color: yellow;
}
p {
   background-color: orange;
}
body {
      background-color: blue;
}
h3 {
    background-color: orange;
}
h2 {
    background-color: yellow;
}
